.hidden {
    display: none;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fffaf5;
    color: #1d3557;
    padding: 20px;
    margin-left: 2%;
}


/* Headings */
h1, h2, h3 {
    color: #1d3557;
    margin-bottom: 0px;
}

/* Links */
a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Buttons */
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #2980b9;
}

/* Question */
.question {
    margin-bottom: 40px;
}

.question p {
    font-weight: bold;
}

.question label {
    display: block; /* Ensures each label takes up the full width */
    margin: 5px 0; /* Adds spacing between options */
}

/* Results */
#results div {
    padding: 10px;
    width: 100%; 
}

#results div > div {
    flex: 1; 
    padding: 10px;
}

.ecBlock {
    border: 2px solid black;
    margin-bottom: 30px;
}

.paragraphHeader {
    text-decoration: underline;
    margin-top: 10px;
}

.profileIntro, .profileName, .ecColumnHeader, .ecName, .ecLevel {
    text-align: center;
    flex: 1;
}

.ecColumnHeader {
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 0px;
}

.scoreHigh {
    color: green;
}

.scoreLow {
    color: red;
}


/* Smooth Transitions */
/* * {
    transition: all 0.2s ease-in-out;
} */

/* Highlight Hover States */
.survey:hover {
    background-color: #f4f4f4;
}
